@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 1280px;
  height: 720px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide Next.js Dev Badge and Static Indicator */
#node-experimental-static-badge,
.__next-hydration-badge {
  display: none !important;
}

